.el-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.el-container.is-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.el-header {
  padding: 0 20px;
  box-sizing: border-box
}

.el-aside, .el-main {
  overflow: auto;
  -webkit-box-sizing: border-box
}

.el-aside {
  box-sizing: border-box
}

.el-main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  padding: 20px
}

.el-footer {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}




/*title1*/
/*font-size: 20px;*/
/*color: black;*/

/*title2*/
/*color: black;*/


.el-message-box {
  display: inline-block;
  width: 420px;
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #efefef;
  border-radius: 0px;
  border: none;
  font-size: 18px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  text-align: left;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.el-message-box{

  display: inline-block;
  width: 420px;
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #efefef;
  border-radius: 0px;
  border: none;
  font-size: 18px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  text-align: left;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.el-button--small, .el-button--small.is-round {
  padding: 3px 15px !important;
}

.el-button--mini, .el-button--small {
  font-size: 12px;
  border-radius: 3px;
}



.el-button {
  color: black;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d8dce5;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  padding: 4px 15px;
  border-radius: 4px;
  font-size: 13px;
}

.el-button:active {
  color: #ffffff !important;
  background: #3a8ee6 !important;
  outline: 0;
}

.el-button:focus, .el-button:hover {
  color: black;
  background: #fff;
  border: 1px solid #d8dce5;
}



.el-button--primary {
  color: #fff;
  border-color: #429cf9;
  background-image: linear-gradient(180deg, #8ab2ef 0%, #006fe2 100%);
}

.el-button--primary:focus, .el-button--primary:hover{
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
  background-image: linear-gradient(180deg, #8ab2ef 0%, #006fe2 100%);
}

.v-modal{
  opacity: 0.1 !important;
}

.el-form-item__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.el-form-item__label {
  line-height: 26px;
  color: black;
  margin-right: 20px;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: inherit;
}
.el-checkbox__inner{
  margin-top: -2px;
}
.el-checkbox__inner:hover {
  border-color: gainsboro;
}

.el-checkbox__input is-focus{
  border-color: gainsboro !important;
}


.el-form-item{
  margin-bottom: 0;
}
.el-checkbox__label{
  padding-left: 5px;
}
.mb20{
  margin-bottom: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.mr5{
  margin-right: 5px;
}
.font12{
  font-size: 12px;
}

.el-checkbox__label:hover,.el-transfer-panel__item:hover {
  color: inherit !important;
}

.el-checkbox__label {
  color: black !important;
  font-weight: normal;
}
.mr20{
  margin-right: 20px;
}

.mr10{
  margin-right: 10px;
}
.el-radio{
  color: black;
  font-weight: normal;
}
.el-radio__input.is-checked+.el-radio__label{
  color: inherit;
}