.al-main {
    height: 100%;
    /*background-color: #8c939d*/
}

.al-lblock {
    height: 100%;
    /*background-color: #f4f4f4;*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-right: 1px solid #cbcbcb;
    border-top: 1px solid #e2e2e2;
}

.al-rblock {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 65%;
    background: #e7e7e7;
    height: 100%;
}

.lheader {
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #f1f1f1;
    border-bottom: 1px solid #d8d5d5;
}

.lheader div {
    height: 45px;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.lmain {
    padding: 0 0 20px 0;
}

.lm-t {
    padding: 5px 0 0 5px;
}

.lm-t span {
    color: #6e6e70;
    font-size: 14px;
}

.lm-block {
    width: 100%;
    display: flex;
    height: 60px;
    cursor: pointer;
    /* background: #ffffff; */
    //margin: 5px 0;
    /* border-left: 3px solid #3a8ee6; */
    /* border-bottom: 01px solid #9e9e9e; */
    /* box-shadow: 1px 1px 1px 1px #c5c5c5; */
}

.lm-block-active {
    background: #b9b9b98f;
    border-radius: 2px;
}

.lm-block_1 {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    text-align: right;
    /*background: green;*/
}

.lm-block_1 div {
    display: flex;
    justify-content: flex-end;
}

.lm-block_1 div span {
    width: 10px;
    background-color: #13e735;
    border-radius: 10px;
    height: 10px;
}

.lm-block_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 20%;
    /*background: yellow;*/
}

.lm-block_2 img {
    height: 60%;
}

.lm-block_3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 62%;
    color: white;
    /* background: pink; */
    /* border-bottom: 1px solid #e0e0e0; */
}


.lfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #7a7f8a;*/
}

.lfooter_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #e6ebf5;
    /*background: yellow;*/
}


.rheader {
    -webkit-app-region: drag;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-bottom: 1px solid #f1f1f1;
}

.rheader_1 {
    text-align: center;
    display: flex;
    justify-content: center;
    /*background: red;*/
}

.rheader_1 div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50px;
    cursor: pointer;
    /*background: green;*/
}

.rheader_1 img {
    height: 25px;
}

.rheader_1 span {
    font-size: 18px;
    color: #1d1d1d;
    line-height: 60px;
    font-weight: 100;
    font-family: PingFangSC-Regular,sans-serif;
    /*font-family: -webkit-body;*/
}

.rmain {
    display: flex;
    //height: 200px;
    /*background-color: red;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin-top: 10px;
    padding-bottom: 20px;
}

.rmain_l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: yellow;*/
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    width: 25%;
}

.rmain_l_box{
    /* background: pink; */
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    display: flex;
}

.rmain_l_box img {
    width: 100%;
}

.rmain_r {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6px;
}



.rmain_r_1 {
    font-size: 20px;
}

.rmain_r_1 i {
    color: #a8a8a8
}

.rmain_r_2 {
    border: solid 1px #c7c7c7;
    border-radius: 3px;
    overflow: hidden;
    background: white;

    > div{
        height: 30px;
        border-bottom: 1px solid #c7c7c7;
        margin: 0 10px;
        display: flex;
        //padding: 0 10px;
        justify-content: space-between;

        span {
            font-size: 12px;
            color: #585858;
            line-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.rfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #7a7f8a;*/
}

.rfooter_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    width: 100%;
    color: #e6ebf5;
    position: relative;
    /*background: yellow;*/
}


.rfooter_1:focus{
    outline: 0px !important;
    border: 0px !important;
}


.rfooter_1 img {
    height: 25px;
    cursor: pointer
}


.rmain2 {
    /*background-color: #e8e8e8;*/
    margin: 10px 0;
}

.rmain2_1 {
    display: flex;
    justify-content: space-between;
}

.rmain2_1 span {
    color: #9f9f9f;
    font-size: 12px;
    line-height: 22px;
}

.rmain2_3_1 {
    display: flex;
    justify-content: space-between;
}

.rmain2_3_1_r table, tr, td {
    font-size: 13px;
    color: #1b1b1b;
    line-height: 13px;
}

.rmain2_3_1_rdtext {
    color: #5e5e5e;
}


.rmain2_3_1_dot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.rmain2_3_1_dot span {
    width: 10px;
    height: 10px;
    display: flex;
    border-radius: 10px;
    background: red;
}


.rmain2_2 {
    height: 12px;
    margin: 5px 2px 5px 4px;
    border-radius: 3px;
    overflow: hidden;
}

.rmain2_2_bar {
    width: 100%;
    background-color: white;
    height: 100%;
    display: flex;
}

.rmain2_2_bar span {
    height: 100%;
}

.lm-block_3n_d {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: rosybrown; */
    height: 70%;
}

.lm-block_3n_d_1 {
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.lm-block_3n_d_1_flex {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;

}

.lm-block_3n_d_2{
    height: 22px;
    display: flex;
    align-items: center;
}

.block_3n_d_1_sd {
    display: flex;
    margin-right: 5px;
    justify-content: center;
    flex-direction: column;
}

.block_3n_d_1_sdp {
    width: 10px;
    border-radius: 10px;
    height: 10px;
}

.mounted_dot {
    background-color: #51b7f6;
    /*background-color: #13e735;*/
}

.unmounted_dot {
    background-color: #b1a7a7;
}


.block_3n_d_1_sp {
    font-size: 13px;
    color: #6e6e70;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lm-block_3n_d_1_fdf {
    font-size: 13px;
    color: #6e6e70;
    white-space: nowrap;

}

.lm-block_3n_d_2_bar {
    background-color: #f3f3f3;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
}

.lm-block_2 img {
    width: 45px;
    height: 45px;
    vertical-align: bottom;
}


.mint-spinner-snake {
    animation: circle 1s infinite linear;
    -webkit-animation: circle 1s infinite linear;
}

@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg)
    }
}


.box {
    height: 50px;
    width: 50px;
    position: relative;
}

.box::before {
    content: '';
    height: 8px;
    width: 50px;
    background: #000;
    opacity: .2;
    border-radius: 50%;
    position: absolute;
    top: 67px;
    left: 0;
    animation: shadow 1s linear infinite;
}

.box::after {
    border-radius: 5px;
    background: red;
    animation: rotate 1s linear infinite;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

@keyframes shadow {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.2);
    }
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px) scale(1.1, 0.9);

    }
    75% {
        ransform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.goods {
    text-align: center;
}

.goods img {
    animation: myfirst 2s infinite;
}

@keyframes myfirst {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.lheader_span {
    color: #000000ad;
    line-height: 30px;
    font-size: 20px;
}

.readonly {
    font-size: 10px;
    color: #e4e7ed;
    background: #f56c6cf7;
    padding: 0 5px;
    border-radius: 2px;
    margin-top: 0;
    height: 14px;
    line-height: 14px;
    text-align: center;
}

.umounted {
    font-size: 10px;
    color: #828282;
    border: 1px solid #cec0c0;
    padding: 0 5px;
    border-radius: 2px;
    margin-top: 0;
    height: 14px;
    line-height: 14px;
    text-align: center;
}

.version_span {
    flex-direction: column;
    justify-content: center;
    color: #585858;
    margin-left: 2px;
    display: flex;
}

.i-loading {
    color: #34c84a;
    font-size: 18px;
}

.i-loading2 {
    color: #13e735;
    font-size: 18px;
}

.lfooter_div {
    flex-direction: row;
    cursor: pointer
}

.mright-dir {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.goods {
    margin-top: 50px;
}

.goods img {
    height: 100px;
}

.rfooter_div {

    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.ar-main {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
}

.help-block {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #656161;
    flex-direction: column;
    cursor: pointer;
}

.menu_box{
    background: #e8e8e8;
    position: absolute;
    bottom: 30px;
    right: 15px;
    width: max-content;
    z-index: 9999999;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 5px 0;
    overflow: hidden;
    color: black;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 214, 0.9)
}
.menu_box .line{
    display: flex;
    margin: 5px 0;
    background: #dad5d7;
    height: 2px;
}
.menu_box div{
    padding: 0 20px;
    cursor: pointer;
    font-size: 14px;
    color: #232222;
}

.menu_box div:hover{
    background: #409eff;
    color: white;
}

.nt-main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nt-header{
    -webkit-app-region: drag;
    background: #d0d0d0;
    height: 72px;
    border-bottom:1px solid #bbb7b7ba;
    background-image: -webkit-linear-gradient(#f1f1f1 0%, #e2dfdf 50%, #d0d0d0 100%);

    .title{
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        > span{
            font-size: 15px;
            line-height: 15px;
            color: #5d5b5b;
            text-align: center;
        }
    }

    .body{
        height: 50px;
        //background: #ecf5ff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .l{
           //background: red;
            display: flex;
        }
        .m{
            //background: goldenrod;
            display: flex;
        }
        .r{
            //background: #00A000;
            display: flex;
        }
        .bar_disable{
            .i{
                background:#efefef !important;
            }

            .t{
                color: #5f5f5f !important;
            }

        }

        .bar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 5px;

            .i:active{
                background:#e4e4e4
            }

            .i{
                border: 1px solid #c1c1c1;
                border-radius: 4px;
                background: #f6f6f6;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                padding: 2px 2px;
                width: 50px;



                i{
                    color: #454545;
                }
            }

            .t{
                font-size: 12px;
                color: #363636;
            }
        }
    }
}

.nt-body{
    height: calc(100% - 72px);
}



.hide_scroll::-webkit-scrollbar-thumb {
    background: transparent;
}

.r-bt{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .l{
        font-size: 25px;
        font-weight: bold;
        color: #4b4b4c;
        user-select: text;
        padding: 0;
        //margin-bottom: 5px;
    }

    .l-input{
        font-size: 25px;
        font-weight: bold;
        color: #4b4b4c;
        user-select: text;
        width: 100%;
        padding: 0;
        padding-left: 2px;
        border-radius: 5px;
        border: none;
        background: transparent;
        margin-bottom: 5px;
    }

    .r{
        font-size: 16px;
        color: #6e6e75;
        border: 1px solid grey;
        -webkit-font-smoothing: antialiased;
        border-radius: 3px;
        line-height: 20px;
        font-weight: 100;
        height: 35px;
        display: flex;
        align-items: center;
        padding: 1px 10px;
        user-select: text;
    }
}

.shadow_nt{

    background: rgba(255, 255, 255, 0.45);
    height: calc(100% - 73px);
    width: 100%;
    position: absolute;
    z-index: -10;
}

.menu_box_tf{
    top: 25px;
    left: 0px;
    bottom: auto;
    right: auto;

    > div{
        padding: 0 20px 0 5px;

        .iconfont{
            margin-right: -3px;
        }
    }

    .hide{
        color: #e8e8e8 !important;
    }
}

.bar:focus{
    outline: 0px !important;
    border: 0px !important;
}

.writeable_fix{
    color: #f2f6fc !important;
    border-radius: 4px;
    background: #ffa825;
    padding: 0 5px;
    width: 50px;
    font-size: 10px !important;
    cursor: pointer;
}