.al-main {
    height: 100%;
    background-color: #8c939d
}

.al-lblock {
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.al-rblock {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
}

.lheader {
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #f1f1f1;
    border-bottom: 1px solid #d8d5d5;
}

.lheader div {
    height: 45px;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.lmain {
    padding: 0;
}

.lm-t {
    padding: 5px;
}

.lm-t span {
    color: #6e6e70;
}

.lm-block {
    width: 100%;
    display: flex;
    height: 60px;
    cursor: pointer;
    /* background: #ffffff; */
    margin: 5px 0;
    /* border-left: 3px solid #3a8ee6; */
    /* border-bottom: 01px solid #9e9e9e; */
    /* box-shadow: 1px 1px 1px 1px #c5c5c5; */
}

.lm-block-active {
    background: #ffffff;
}

.lm-block_1 {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    text-align: right;
    /*background: green;*/
}

.lm-block_1 div {
    display: flex;
    justify-content: flex-end;
}

.lm-block_1 div span {
    width: 10px;
    background-color: #13e735;
    border-radius: 10px;
    height: 10px;
}

.lm-block_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 20%;
    /*background: yellow;*/
}

.lm-block_2 img {
    height: 60%;
}

.lm-block_3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    color: white;
    /* background: pink; */
    /* border-bottom: 1px solid #e0e0e0; */
}


.lfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #7a7f8a;*/
}

.lfooter_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #e6ebf5;
    /*background: yellow;*/
}


.rheader {
    -webkit-app-region: drag;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border-bottom: 1px solid #f1f1f1;
}

.rheader_1 {
    text-align: center;
    display: flex;
    justify-content: center;
    /*background: red;*/
}

.rheader_1 div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50px;
    cursor: pointer;
    /*background: green;*/
}

.rheader_1 img {
    height: 25px;
}

.rheader_1 span {
    font-size: 20px;
    color: #000000;
    line-height: 60px;
    font-weight: 100;
    font-family: -webkit-body;
}

.rmain {
    display: flex;
    height: 200px;
    /*background-color: red;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.rmain_l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: yellow;*/
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.rmain_l_box{
    /*background: pink;*/
    height: 100%;
    justify-content: center;
    align-items: center;
}

.rmain_l_box img {
    /*background: #67c23a;*/
    /* margin: 20px; */
    height: 100%;
}

.rmain_r {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #7e57c2*/
}



.rmain_r_1 {
    font-size: 20px;
}

.rmain_r_1 i {
    color: #a8a8a8
}

.rmain_r_2 {

    border-radius: 3px;
    padding: 10px 0;
    background-color: #f7f7f7;

}

.rmain_r_2 div {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.rmain_r_2 span {
    font-size: 12px;
    color: #b1b1b1;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #7a7f8a;*/
}

.rfooter_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    width: 100%;
    color: #e6ebf5;
    position: relative;
    /*background: yellow;*/
}

.rfooter_1 img {
    height: 25px;
    cursor: pointer
}


.rmain2 {
    /*background-color: #e8e8e8;*/
}

.rmain2_1 {
    display: flex;
    justify-content: space-between;
}

.rmain2_1 span {
    color: #9f9f9f;
    font-size: 12px;
    line-height: 30px;
}

.rmain2_3_1 {
    display: flex;
    justify-content: space-between;
}

.rmain2_3_1_r table, tr, td {
    font-size: 15px;
    line-height: 15px;
}

.rmain2_3_1_rdtext {
    color: #6f7180;
}


.rmain2_3_1_dot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.rmain2_3_1_dot span {
    width: 10px;
    height: 10px;
    display: flex;
    border-radius: 10px;
    background: red;
}


.rmain2_2 {
    /*background-color: #6f7180;*/
    height: 8px;
    margin: 5px 0;
    border-radius: 3px;
    overflow: hidden;
}

.rmain2_2_bar {
    width: 100%;
    background-color: #cbd0dc;
    height: 100%;
    display: flex;
}

.rmain2_2_bar span {
    height: 100%;
}

.lm-block_3n_d {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /*background-color: rosybrown;*/
}

.lm-block_3n_d_1 {
    display: flex;
    justify-content: space-between;
}

.lm-block_3n_d_1_flex {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;

}

.block_3n_d_1_sd {
    display: flex;
    margin-right: 5px;
    justify-content: center;
    flex-direction: column;
}

.block_3n_d_1_sdp {
    width: 10px;
    border-radius: 10px;
    height: 10px;
}

.mounted_dot {
    background-color: #83c0fd;
    /*background-color: #13e735;*/
}

.unmounted_dot {
    background-color: #b1a7a7;
}


.block_3n_d_1_sp {
    font-size: 15px;
    color: #6e6e70;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lm-block_3n_d_1_fdf {
    font-size: 15px;
    color: #6e6e70;
    white-space: nowrap;

}

.lm-block_3n_d_2 {
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 3px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    margin-top: 10px;
}

.lm-block_2 img {
    width: 45px;
    height: 45px;
    vertical-align: bottom;
}


.mint-spinner-snake {
    animation: circle 1s infinite linear;
    -webkit-animation: circle 1s infinite linear;
}

@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg)
    }
}


.box {
    height: 50px;
    width: 50px;
    position: relative;
}

.box::before {
    content: '';
    height: 8px;
    width: 50px;
    background: #000;
    opacity: .2;
    border-radius: 50%;
    position: absolute;
    top: 67px;
    left: 0;
    animation: shadow 1s linear infinite;
}

.box::after {
    border-radius: 5px;
    background: red;
    animation: rotate 1s linear infinite;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

@keyframes shadow {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.2);
    }
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px) scale(1.1, 0.9);

    }
    75% {
        ransform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.goods {
    text-align: center;
}

.goods img {
    animation: myfirst 2s infinite;
}

@keyframes myfirst {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.lheader_span {
    color: black;
    line-height: 30px;
    font-size: 20px;
}

.readonly {
    font-size: 12px;
    color: #f56c6c;
}

.version_span {
    flex-direction: column;
    justify-content: center;
    color: #585858;
    margin-left: 10px;
    display: flex;
}

.i-loading {
    color: #34c84a;
    font-size: 18px;
}

.i-loading2 {
    color: #13e735;
    font-size: 18px;
}

.lfooter_div {
    flex-direction: row;
    cursor: pointer
}

.mright-dir {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.goods {
    margin-top: 50px;
}

.goods img {
    height: 100px;
}

.rfooter_div {

    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.ar-main {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
}

.help-block {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #656161;
    flex-direction: column;
    cursor: pointer;
}

.menu_box{
    background: rgb(214, 214, 214);
    position: absolute;
    bottom: 30px;
    right: 15px;
    width: max-content;
    z-index: 9999999;
    border: 1px solid #b5a8a8;
    border-radius: 3px;
    padding: 10px 0;
    color: black;
}
.menu_box .line{
    display:flex;    margin: 5px 0;background: #a5a0a0;height: 1px;
}
.menu_box div{
    padding: 0 20px;
    cursor: pointer;
    font-size: 14px;
    color: black;
}

.menu_box div:hover{
    background: #409eff;
    color: white;
}